body {
    padding: 50px;
    align-content: center;
    line-height: 1.6em;
    font-size: 14px;
    color: #15a;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
}

table {
    table-layout: fixed;
    width: 500px;
    border-collapse: collapse;
}

th {
    font-size: 16px;
    font-weight: bold;
    color: #039;
    padding-top: 20px;
    padding-right: 10px;
    border-bottom: 2px solid #67b;
}

td {
    text-align: center;
    padding: 5px;
}


tbody tr:hover td {
    color: #009;
}


a {    
    text-decoration: none;
}

    a:link {
        /*color: #1E1E1E;*/
    }
    /* unvisited link */
    a:visited {
        /*color: #1E1E1E;*/
    }

    /* visited link */
    a:active {
        color: #1E1E1E;
    }
    /* selected link */
    a:hover {
        color: black;
        /*background-color: #1E1E1E;*/
    }
