body {
    /*font-family: monospace;*/
    background-color: #1E1E1E;
    font: normal 16px "Lucida Grande", "Lucida Sans Unicode", verdana, lucida, sans-serif;
}

h1 {
    color: #C7C7C7;
}

h2 {
    color: #749786;
}

#header {
    margin: 0 auto;
    width: 500px;
}

.box {
    background-color: #007ACC;
    display: inline-block;
    vertical-align: top;
    width: 400px;
    height: 300px;
    margin: 5px;
    padding-left: 40px;
    padding-top: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
}

#box1 {
    background-color: #007ACC;
}

#box2 {
    background-color: #F3CA37;
}

#box3 {
    background-color: #F38B76;
}

#box4 {
    background-color: #2CAF00;
}



ul {
    list-style-type: none;
    text-align: left;
}

ul li {
    margin: 10px;    
}

    ul li a {        
        padding: 8px;
        text-align: left;
        text-decoration: none;        
    }

        ul li a:link {
            color: #1E1E1E;
        }
        /* unvisited link */
        ul li a:visited {
            color: #1E1E1E;
        }

        /* visited link */
        ul li a:active {
            color: #1E1E1E;
        }
        /* selected link */

        ul li a:hover {
            color: whitesmoke;
            background-color: #1E1E1E;
        }
